%h3 Nouveau article
= form_with model: [rally, article] do |f|
  = f.hidden_field :rally_id, { value: rally.id }
  = f.text_field :title, { class: "form-control mb-3", placeholder: "Titre..." }
  = react_component("Ckeditor5", name: "article[content]", value: article.content)
  = f.submit "Créer un article", { class: "btn btn-success mb-3 w-100"}
%hr
