
%h1.text-center Actualité

= form_with model: @article do |f|
  = f.text_field :title, { class: "form-control mb-3", placeholder: "Titre..." }
  = react_component("Ckeditor5", name: "article[content]", value: @article.content)
  = f.submit "Envoyer", { class: "btn btn-success mb-3 w-100"}

- @articles.each do |article|
  = react_component("ArticlesCard", article: article)

%br


= link_to 'New Article', new_article_path
