%h1 Listing rallies

%table
  %thead
    %tr
      %th Title
      %th Presentation
      %th
      %th
      %th

  %tbody
    - @rallies.each do |rally|
      %tr
        %td= rally.title
        %td= rally.presentation
        %td= link_to 'Show', rally
        %td= link_to 'Edit', edit_rally_path(rally)
        %td= link_to 'Destroy', rally, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Rally', new_rally_path
