%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    = link_to root_path do
      = image_tag "envoituresimone-logo.png", style: "height: 70px", class: "mx-2"
    = link_to "EN VOITURE SIMONE", root_path, class: "navbar-brand"
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
            Rallyes
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            - @rallies.each do |rally|
              %li
                = link_to rally.title, rally_path(rally), class: "dropdown-item"
            - if current_user
              %li
                %hr.dropdown-divider
              %li
                = link_to "Rajouter un rallye", new_rally_path, class: "dropdown-item"
      %ul.navbar-nav.d-flex.flex-reverse
        %li.nav-item.dropdown
          %a#navbarDropdown2.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
            = fa_icon "user-circle 4x", class: current_user && "text-warning"
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            - if current_user
              %li
                = link_to "Deconnexion", destroy_user_session_path, method: "DELETE", class: "dropdown-item"
            - else
              %li
                = link_to "Connexion", new_user_session_path, class: "dropdown-item"
